@import "colors";
body{
  color: $blue;
  background: $lightGray;
}
.link{
  display: block;
  a{
    display: block;
    color: $blue;
    text-decoration: none;
    padding: 10px 0px;
  }
}

.menu{
  padding: 0px;
  li{
    display: inline-block;
  }
  a{
    float: left;
    line-height: 30px;
    margin-right: 10px;
  }
  li:last-child a{
    margin-right: 0px;
  }
}